<div class="bg-full-image">

  <div class="homepage_text">
    <h1>Let's code together.</h1>

    <p>
      Join us to learn faster with online
      <br>
      one-on-one mentorship
    </p>
  </div>

  <div class="hero hero-body">
    <div class="content_margin">
      <p>We kick off September 1st.</p>

      <p>Enter your email to stay up to date.</p>
    </div>
  </div>

</div>

<div class="body-content">
  <h2 class="primary-header">MentorMeet is the support you need:</h2>

  <hr>
  <section class="columns">
    <div class="column half">
      <a name="mentor"></a>
      <h3 class="centered">Mentor</h3>

      <p>Here is some text to show how you can help mentor someone...</p>
    </div>

    <div class="column half">
      <a name="mentee"></a>
      <h3 class="centered">Student</h3>

      <p>Here is some text to show how you can get some help...</p>
    </div>
  </section>
  <hr>


  <div class="how_this_works colums">
    <a name="how_this_works"></a>
    <h3 class="centered">How This Works</h3>
    <div class="feature column third">
      <h4 class="centered">Get Help</h4>

      <p>Sriracha American Apparel bespoke, yr asymmetrical whatever Helvetica. Helvetica McSweeney's keytar, you probably
      haven't heard of them fixie umami hashtag actually selvage. 90's pork belly keytar XOXO VHS pickled, pour-over
      cornhole wolf mumblecore blog hashtag. Kitsch banjo fanny pack artisan wayfarers, gastropub McSweeney's Godard
      fashion axe American Apparel salvia post-ironic narwhal deep v. Swag synth irony Bushwick. Forage sartorial you
      probably haven't heard of them chia, Vice 3 wolf moon bespoke. Cornhole Wes Anderson biodiesel Pitchfork chia.</p>

    </div>

    <div class="feature column third">
      <h4 class="centered">Get Help</h4>

      <p>Sriracha American Apparel bespoke, yr asymmetrical whatever Helvetica. Helvetica McSweeney's keytar, you probably
        haven't heard of them fixie umami hashtag actually selvage. 90's pork belly keytar XOXO VHS pickled, pour-over
        cornhole wolf mumblecore blog hashtag. Kitsch banjo fanny pack artisan wayfarers, gastropub McSweeney's Godard
        fashion axe American Apparel salvia post-ironic narwhal deep v. Swag synth irony Bushwick. Forage sartorial you
        probably haven't heard of them chia, Vice 3 wolf moon bespoke. Cornhole Wes Anderson biodiesel Pitchfork chia.</p>

    </div>
    <div class="feature column third">
      <h4 class="centered">Get Help</h4>

      <p>Sriracha American Apparel bespoke, yr asymmetrical whatever Helvetica. Helvetica McSweeney's keytar, you probably
        haven't heard of them fixie umami hashtag actually selvage. 90's pork belly keytar XOXO VHS pickled, pour-over
        cornhole wolf mumblecore blog hashtag. Kitsch banjo fanny pack artisan wayfarers, gastropub McSweeney's Godard
        fashion axe American Apparel salvia post-ironic narwhal deep v. Swag synth irony Bushwick. Forage sartorial you
        probably haven't heard of them chia, Vice 3 wolf moon bespoke. Cornhole Wes Anderson biodiesel Pitchfork chia.</p>

    </div>
  </div>

  <hr>


  <div class="about_us">
    <a name="about_us"></a>
    <h3 class="centered">About Us</h3>
    <p>Sriracha American Apparel bespoke, yr asymmetrical whatever Helvetica. Helvetica McSweeney's keytar, you probably
      haven't heard of them fixie umami hashtag actually selvage. 90's pork belly keytar XOXO VHS pickled, pour-over
      cornhole wolf mumblecore blog hashtag. Kitsch banjo fanny pack artisan wayfarers, gastropub McSweeney's Godard
      fashion axe American Apparel salvia post-ironic narwhal deep v. Swag synth irony Bushwick. Forage sartorial you
      probably haven't heard of them chia, Vice 3 wolf moon bespoke. Cornhole Wes Anderson biodiesel Pitchfork chia.</p>

  </div>

</div>



<div class="footer hero">
  <div class="footer_margin">
    <p>Made with &hearts; by <a class="simplyaubs_link" href="http://simplyaubs.com/">@SimplyAubs</a></p>
  </div>
</div>