<div class="bg-full-image">

  <div class="homepage_text">
    <h1>Let's code together.</h1>

    <p>
      Community Mentorship...
      <br>
      Get help. Give help.
    </p>
  </div>

  <div class="hero hero-body">
    <div class="content_margin">

      <p>
      We kick off December 1st.
      Enter your email to stay up to date.
      <input name="email" type="text" placeholder="enter your email" class="applicant_email">
        <button class="red-btn" type="submit">Learn More <span class="tf-icon-cta"></span></button>
      </p>
    </div>
  </div>

</div>

<div class="body-content">
  <h2 class="primary-header">MentorMeet is the support you need...</h2>

  <hr>
  <section class="columns">
    <div class="column half">
      <a name="mentor"></a>

      <h3 class="centered">Mentor</h3>

      <p>Have you been programming for a long time and are trying to find a way to give back? Are you currently learning
        and looking for a way to solidify your learning? Here at MentorMeet, we do things a little differently.
        We believe that you learn best by teaching others. We believe it helps solidify your learning. So our "Mentors"
        are not all total experts. Some are still in the early stages of learning, some are intermediate. We do have
        those who are considered experts as well. So whatever you are looking for in your learning journey, we think you
        can find it here.</p>
    </div>

    <div class="column half">
      <a name="mentee"></a>

      <h3 class="centered">Student</h3>

      <p>Are you learning to program? Are you stuck and need a little help? Our mentors are here to help you out!
        We all could use a little help now and then. A gentle nudge. A patient push. Just something to help you get
        "unstuck". Just don't get too comfortable kicking up your feet and learning from someone else, because we give
        you and opportunity to give back as well. "But I'm just a beginner!" We're glad you brought that up. We believe
        the best way to solidify your learning is to help teach someone else. We also think that sometimes it's easier
        for a beginner to teach another beginner. So get to it!</p>
    </div>
  </section>
  <hr>


  <div class="how_this_works colums">
    <a name="how_this_works"></a>

    <h3 class="centered">How It Works</h3>

    <div class="feature column third">
      <h4 class="centered">Community Mentorship</h4>

      <p>Here at MentorMeet, we do things a little differently. If you are looking for mentoring, you can search the web
        and find
        people to help you out. At a price. Here at MentorMeet, we think there should be a place to get that for free.
        We have all
        received help in some area of life for free and we think that should happen here too. We want to help foster a
        Community of
        Mentorship. A way to give back. An opportunity to invest in the future of programming. A chance to help make the
        world a
        better place. "Whoa...those are bold statements!" Yeah, well we dream big here at MentorMeet. Come dream with
        us.</p>

    </div>

    <div class="feature column third">
      <h4 class="centered">Get Help</h4>

      <p>Are you learning to program? Are you stuck and need a little help? Our mentors are here to help you out!
        We all could use a little help now and then. A gentle nudge. A patient push. Just something to help you get
        "unstuck". Just don't get too comfortable kicking up your feet and learning from someone else, because we give
        you and opportunity to give back as well. "But I'm just a beginner!" We're glad you brought that up. We believe
        the best way to solidify your learning is to help teach someone else. We also think that sometimes it's easier
        for a beginner to teach another beginner.</p>

    </div>
    <div class="feature column third">
      <h4 class="centered">Give Help</h4>

      <p>Have you been programming for a long time and are trying to find a way to give back? Are you currently learning
        and looking for a way to solidify your learning? Here at MentorMeet, we do things a little differently.
        We believe that you learn best by teaching others. We believe it helps solidify your learning. So our "Mentors"
        are not all total experts. Some are still in the early stages of learning, some are intermediate. We do have
        those who are considered experts as well. So whatever you are looking for in your learning journey, we think you
        can find it here. So take a chance and help others out. It'll make you feel good. We promise.</p>

    </div>
  </div>

  <br>
  <br>


  <hr>


  <div class="about_us">
    <a name="about_us"></a>
    <h3 class="centered">About Us</h3>

    <p>Here at MentorMeet, we do things a little differently. If you are looking for mentoring, you can search the web
      and find
      people to help you out. At a price. Here at MentorMeet, we think there should be a place to get that for free. We
      have all
      received help in some area of life for free and we think that should happen here too. We want to help foster a
      Community of
      Mentorship. A way to give back. An opportunity to invest in the future of programming. A chance to help make the
      world a
      better place. "Whoa...those are bold statements!" Yeah, well we dream big here at MentorMeet. Come dream with
      us.</p>

  </div>

</div>



<div class="footer hero">
  <div class="footer_margin">
    <p>Made with &hearts; by <a class="footer_links" href="https://twitter.com/SimplyAubs">@SimplyAubs</a> and <a class="footer_links" href="/thanks">friends</a></p>
  </div>
</div>