<div class="bg-full-image">

  <div class="homepage_text">
    <h1>Let's code together.</h1>
    <p>
      Join us to learn faster with online
      <br>
      one-on-one mentorship
    </p>
  </div>

 <div class="spacer">
  <div class="content_margin">
    <p>We kick off September 1st.</p>
    <br>
    <p>Enter your email to stay up to date.</p>
  </div>
 </div>

</div>

<div class="body-content">
  <h2 class="primary-header">MentorMeet is the support you need:</h2>
  <div class="body-left">
    <p>.</p>
  </div>
</div>

