<div class="bg-full-image">

  <div class="homepage_text">
    <h1>Let's code together.</h1>
    <p>
      Join us to learn faster with online
      <br>
      one-on-one mentorship
    </p>
  </div>

 <div class="spacer">
  <div class="content_margin">
    <h1>Welcome to MentorMeet</h1>
    <%= button_to "Sign Up", register_path %>
  </div>
 </div>

</div>


