<div class="body-content">
  <h1 class="centered">My Dashboard</h1>

  <div class="book-session-link call-to-action">
    <%= link_to 'Book a Mentoring Session', appointments_path %>
  </div>
  <div class="create-session-link call-to-action">
    <%= link_to 'Create a Mentoring Session', new_appointment_path %>
  </div>

  <br>
  <br>
  <br>
  <br>
  <br>

  <h2 class="centered">My Sessions</h2>

  <ul class="centered">
    <% @user.appointments.each do |appointment| %>
      <li>
        <%= appointment.time.strftime("%A, %B %e, %Y %l:%M%P") %> - <%= appointment.language %>
      </li>
    <% end %>
  </ul>
</div>