<div class="dashboard">
  <h1 class="centered">User Profile</h1>

  <div class="centered">
    <div class="profile_image">
      <%= image_tag @user.avatar %>
    </div>

    <div class="profile_info">
      User Name: <%= @user.name %>

      <br>

      User Email: <%= @user.email %>
    </div>
  </div>


</div>