<div class="dashboard">
  <h1 class="centered">User Profile</h1>

  <div class="centered">

    <%= image_tag @user.avatar %>

    User Name: <%= @user.name %>

    <br>
    <br>

    User Email: <%= @user.email %>

  </div>


</div>