<div class="dashboard centered">
  <h1>Page of Thanks</h1>

  <p>This page could not have been made possible without the help of some amazing people. I'm deeply grateful for the time, work, <br> and suggestions that each of them have put in to the vision of this app and the betterment of my education. Thank you!</p>

  <h3>Instructors</h3>

  <p>
    <a href="https://twitter.com/jeffrosoft">Jeff Dean</a>
    <br>
    <a href="https://twitter.com/mikegehard">Mike Gehard</a>
    <br>

    <a href="https://twitter.com/kinseyanndurham">Kinsey Ann Durham</a>
  </p>

  <h3>Mentors</h3>
  <p>
    <a href="https://twitter.com/ryleekeys">Rylee Keys-DuMars</a>
    <br>
    <a href="https://twitter.com/adventuresteady">Laura Steadman</a>
    <br>
    <a href="https://twitter.com/blurredbits">Mark Morris</a>
  </p>

  <h3>Friends</h3>
  <p>
    <a href="https://twitter.com/emilyplatzer">Emily Platzer</a>
  </p>
</div>