.container {
  @include outer-container;
}

.columns {
  @include row();
}

.column {

  &.half {
    @include span-columns(6);
  }

  &.fourth {
    @include span-columns(3);
  }

  &.third {
    @include span-columns(4);
  }
}

.feature {
}

.profile_image {
  float: left;
}

.profile_info {
  float: left;
  padding: 10%;
  font-weight: bold;
}