#navbar {
  width: 100%;
  height: auto;
  font-size: 1em;
  background-color: #ffffff;
  padding-bottom: 20px;
  padding-top: 20px;
}

#navbar ul {
  list-style-type: none;
  height: auto;
  padding: 10px 0px;
}

#navbar li {
  display: inline;
  padding: 3%;
}

#navbar li a img {
  float: right;
  margin-bottom: 5px;
  margin-right: 20px;
  margin-top: -17px;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: image-url("hero_image.jpg") fixed;
}

a {
  text-decoration: none;
  color: #000000;
}

#table {
  text-align: left;
  padding-left: 43%;
  padding-top: 10%;
}

.form_styling {
  border: 2px solid black;
  top: 275px;
  margin-left: auto;
  margin-right: auto;
  max-width: 40%;
  min-height: 10em;
  font-size: 1.1em;
  background-color: #0466b1;
}

.form_table {
  margin-left: 25%;
  td {
    padding: .5em;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }
}

.input {
  height: 22px;
  font-size: .75em;
}

/* Full Background Images */

.bg-full-image {
  background: image-url("hero_image.jpg") fixed;
  background-size: cover;
  min-height: 610px;
  position: relative;
}

.bg-full-image img {
  display: block;
  width: 100%;
  padding: 0 auto;
  border-top: #000000 solid 1px;
  border-bottom: #000000 solid 1px;
}

.hero {
  width: 100%;
  background-color: rgba(000, 000, 000, 0.7);
  color: white;
  padding: 20px 0 20px 0;
}

.hero-body {
  position: absolute;
  bottom: 0;
}

.content_margin {
  margin: 1%;
  margin-left: 20%;
  font-size: 1.3em;
}

.footer_margin {
  margin: 1%;
  margin-left: 70%;
  font-size: 1.3em;

}

.content_margin form {
  width: 100px;
  margin: auto;
  padding-top: 10px;
}

.footer_links {
  color: #fc6856;
}

.homepage_text {
  float: right;
  text-align: left;
  margin: 100px 40px auto auto;
}

.homepage_text h1 {
  font-family: "source-sans-pro", "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  font-weight: 300;
  color: #fc6856;
  font-style: normal;
  font-size: 3.2em;
  text-transform: uppercase;
  width: auto;
  margin: 0;
}

.homepage_text p {
  font-family: "ff-tisa-web-pro", "adelle", "Adelle", "Merriweather", Georgia, serif;
  font-weight: 300;
  color: #fff;
  font-style: normal;
  font-size: 26px;
  line-height: 1.2em;
}

.primary-header {
  font-family: "source-sans-pro", "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  font-weight: 300;
  font-size: 2.3em;
  text-transform: uppercase;
  text-align: center;
  margin-top: 2%;
}

.dashboard {
  //  background-color: white;
  background: rgba(225, 225, 225, .8);
  //  opacity: 0.6;
  min-height: 40em;
  padding: 2em;
  margin-top: 5em;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
  .body-left {
    float: left;
    h3, a {
      font-size: 1.5em;
      padding-left: 40%;
      padding-top: 2%;
    }
  }
  .body-right {
    float: right;
    h3, a {
      font-size: 1.5em;
      padding-right: 10%;
      padding-top: 2%;
    }
  }
}

.body-content {
  background-color: white;
  padding: .1em 5em;
}

.call-to-action a {
  color: #000;
  background-color: white;
  padding: 20px;
  border: 2px black solid;
}

.book-session-link {
  float: left;
  font-size: 1.5em;
  margin-left: 10%;

}

.create-session-link {
  float: right;
  font-size: 1.5em;
  margin-right: 10%;
}

.table {
  margin: auto;
}

.sessions {
  .header {
    background-color: #0466b1;
  }
  td {
    padding: 12px;
  }
  font-size: 1.5em;
  width: 100%;
  border: 2px black solid;
  .session {
    border: 2px black solid;
    &:nth-child(odd) {
      background-color: lighten(#0466b1, 35%);
    }
    &:nth-child(even) {
      background-color: white;
    }
  }
}

.flash {
  width: 100%;
  text-align: center;
  font-size: 1.75em;
  color: #fc6856;
}