#navbar {
  width: 100%;
  height: auto;
  font-size: 1em;
  background-color: #ffffff;
  padding-bottom: 20px;
  padding-top: 20px;
}

#navbar ul {
  list-style-type: none;
  height: auto;
  padding: 10px 0px;
}

#navbar li {
  display: inline;
  padding: 3%;
}

#navbar li a img {
  float: right;
  margin-bottom: 5px;
  margin-right: 20px;
  margin-top: -17px;
}

body {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  color: #000000;
}

#table {
  text-align: left;
  padding-left: 43%;
  padding-top: 10%;
}

.form_styling {
  position: absolute;
  top: 275px;
  margin-left: 37%;
  font-size: 1.1em;
}

.input {
  height: 22px;
  font-size: .75em;
}

/* Full Background Images */

.bg-full-image {
  background: image-url("hero_image.jpg") fixed;
  background-size: cover;
  min-height: 610px;
  position: relative;
}

.bg-full-image img {
  display: block;
  width: 100%;
  padding: 0 auto;
  border-top: #000000 solid 1px;
  border-bottom: #000000 solid 1px;
}

.hero {
  width: 100%;
  background-color: rgba(000,000,000, 0.7);
  color: white;
  padding: 20px 0 20px 0;
}

.hero-body {
  position: absolute;
  bottom: 0;
}

.content_margin {
  margin: 1%;
  margin-left: 20%;
  font-size: 1.3em;
}

.content_margin form {
  width: 100px;
  margin: auto;
  padding-top: 10px;
}

.homepage_text {
  float: right;
  text-align: left;
  margin: 100px 40px auto auto;
}

.homepage_text h1 {
  font-family: "source-sans-pro", "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  font-weight: 300;
  color: #fc6856;
  font-style: normal;
  font-size: 3.2em;
  text-transform: uppercase;
  width: auto;
  margin: 0;
}

.homepage_text p {
  font-family: "ff-tisa-web-pro", "adelle", "Adelle", "Merriweather", Georgia, serif;
  font-weight: 300;
  color: #fff;
  font-style: normal;
  font-size: 26px;
  line-height: 1.2em;
}


.primary-header {
  font-family: "source-sans-pro", "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  font-weight: 300;
  font-size:  2.3em;
  text-transform: uppercase;
  text-align: center;
  margin-top: 2%;
}

.body-content {
  margin: 0 10%;
  .body-left {
    float: left;
    h3, a {
      font-size: 1.5em;
      padding-left: 40%;
      padding-top: 2%;
    }
  }
  .body-right {
    float: right;
    h3, a {
      font-size: 1.5em;
      padding-right: 10%;
      padding-top: 2%;
    }
  }
}

.call-to-action {
  background-color: #fc6856;
  padding: 20px;
  border: 2px black solid;
}

.book-session-link {
  float: left;
  font-size: 1.5em;
  margin-left: 10%;

}

.create-session-link {
  float: right;
  font-size: 1.5em;
  margin-right: 10%;
}

.table {
  margin: auto;
}