<div class="centered">

  <h1>Book a Session</h1>

  <% @appointments.each do |appointment| %>
    <li>
      <%= form_for appointment do |f| %>

        <%= appointment.time %> - <%= appointment.language %>
        <%= f.submit 'Book Session' %>
      <% end %>


    </li>
  <% end %>
</div>