<div class="dashboard">
  <div class="centered">
    <h1>Book a Session</h1>
  </div>

  <table class="sessions">

    <tr>
      <td class="header">
        Session Time
      </td>
      <td class="header">
        Session Language
      </td>
      <td class="header">
        Mentor Name
      </td>
      <td class="header">
        Book Session
      </td>
    </tr>

    <% @appointments.each do |appointment| %>
      <tr class="session">
        <%= form_for appointment do |f| %>
          <td>
            <%= appointment.time.strftime("%A, %B %e, %Y %l:%M%P") %>
          </td>
          <td>
            <%= appointment.language %>
          </td>
          <td>
            <%= f.submit 'Book Session' %>
          </td>
          </tr>
        <% end %>
    <% end %>
  </table>
</div>